name: Deploy Website

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger website workflow
        uses: convictional/trigger-workflow-and-wait@v1.6.1
        with:
          owner: api-platform
          repo: website
          workflow_file_name: cd.yml
          github_token: ${{ secrets.WEBSITE_ACCESS_TOKEN }}
